@import url("https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import "tailwindcss";

:root {
  --color-primary-950: oklch(0.0600 0.0151 244.90);
  --color-primary-900: oklch(0.1800 0.0452 244.90);
  --color-primary-800: oklch(0.3000 0.0754 244.90);
  --color-primary-700: oklch(0.4000 0.1005 244.90);
  --color-primary-600: oklch(0.5000 0.1256 244.90);
  --color-primary-500: oklch(0.5800 0.1457 244.90);
  --color-primary-400: oklch(0.6700 0.1464 244.90);
  --color-primary-300: oklch(0.7600 0.1320 244.90);
  --color-primary-200: oklch(0.8500 0.0797 244.90);
  --color-primary-100: oklch(0.9300 0.0361 244.90);
  --color-primary-50:  oklch(0.9800 0.0101 244.90);

  --background: oklch(1 0 0);
  --foreground: oklch(0.0633 0.0132 233.5083);
  --card: oklch(0.9850 0 0);
  --card-foreground: oklch(0.0633 0.0132 233.5083);
  --popover: oklch(0.9850 0 0);
  --popover-foreground: oklch(0.0633 0.0132 233.5083);
  --primary: oklch(0.5827 0.1464 244.9029);
  --primary-foreground: oklch(0.9793 0.0103 247.9308);
  --secondary: oklch(0.8682 0.1594 92.7983);
  --secondary-foreground: oklch(0.0633 0.0132 233.5083);
  --muted: oklch(0.9700 0 0);
  --muted-foreground: oklch(0.5560 0 0);
  --accent: oklch(0.9793 0.0103 247.9308);
  --accent-foreground: oklch(0.0633 0.0132 233.5083);
  --destructive: oklch(0.5770 0.2450 27.3250);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9850 0 0);
  --input: oklch(0.9220 0 0);
  --ring: oklch(0.3994 0.1014 245.3974);

  --font-sans: "Albert Sans", ui-sans-serif, sans-serif, system-ui;
  --font-serif: "IBM Plex Serif", ui-serif, serif;
  --font-mono: "Fira Code", ui-monospace, monospace;

  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

.root {
  isolation: isolate;
  font-family: var(--font-sans);
  color: var(--foreground);
}
